<!DOCTYPE html>
<html lang="en">
  
    <body>
      <%- include('header') %>

      <!-- doctor section start -->
      <div class="doctor_section layout_padding">
        <div class="container">
          <div class="row">
            <div class="col-md-6 padding_top0">
              <h4 class="about_text">Best Laboratory</h4>
                <h1 class="highest_text">Tests Available</h1>
                <p class="lorem_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur </p>
                <div class="read_main">
                  <div class="read_bt"><a href="#">Read More</a></div>
                </div>
            </div>
            <div class="col-md-6">
              <div class="image_4"><img src="images/img-4.png"></div>
            </div>
          </div>
        </div>
      </div>
      <!-- doctor section end -->
      <%- include('footer') %>
   </body>
   </html>