<!DOCTYPE html>
<html lang="en">
  
    <body>
<%- include('header') %>

     <!-- Registration section start -->
     <div class="contact_section layout_padding">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <h1><%= msg %></h1>
            <h1 class="contact_text">Registration Form

            </h1>
            
              <form action="/registration" method="post">
                <div class="form-group">
                  <input type="text" class="email-bt" placeholder="Name" name="name" required>
                </div>
                <div class="form-group">
                  <input type="text" class="email-bt" placeholder="Mobile No." name="mno" required>
                </div>
                <div class="form-group">
                  <input type="text" class="email-bt" placeholder="City" name="city" required>
                </div>
                <div class="form-group">
                  <input type="text" class="email-bt" placeholder="Email" name="email" required>
                </div>
                <div class="form-group">
                  <input type="text" class="email-bt" placeholder="userName" name="unm" required>
                </div>
                <div class="form-group">
                  <input type="password" class="email-bt" placeholder="Password" name="pwd">
                </div>
                <div class="main_bt"><input type="submit" value="submit"></div>   
                </form>
               
            </div>
          <div class="col-md-6">
            <h1 class="contact_text">What syas our peasant</h1>
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
              <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
              </ol>
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <h2 class="selfideno_text">Selfideno</h2>
                  <div class="client_main">
                    <div class="image_5"><img src="images/img-5.png"></div>
                    <p class="lorem_ipsum_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur </p>
                    <div class="quote_icon"><img src="images/quote-icon.png"></div>
                  </div>
                </div>
                <div class="carousel-item">
                  <h2 class="selfideno_text">Selfideno</h2>
                  <div class="client_main">
                    <div class="image_5"><img src="images/img-5.png"></div>
                    <p class="lorem_ipsum_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur </p>
                    <div class="quote_icon"><img src="images/quote-icon.png"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Registration section end -->

     
      <%- include('footer') %>
   </body>
   </html>